
/********** container start **********/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container{
    display: block;
    width: 1000px;
    height: 100%;
    padding: 91px 124px 157px 124px;
    font-family: 'Roboto', sans-serif;
}
/********** container end **********/


.main-s2{
    display: flex;
    margin-bottom: 60px;
}
/* ********************main left start****************** */
    .left-s2 :first-child{
        font-family: 'Roboto Slab';
        font-size: 55px;
        margin-bottom: 18px;
    }
    .left-s2 .p1{
        font-size: 24px;
    } 
    .left-s2{
        width: 100%;
    }

/* ********************main left end****************** */
/* ********************main right start****************** */
    .right-s2{
        position: relative;
        left: 150px;
        top: 80px;  
    }
    .right-s2 .svg1 img{
        position: relative;
        width: 314px;
        height: 315px;
        
    }
    .right-s2 .svg2 img{
        position: absolute;
        width: 366px;
        height: 59px;
        top: 280px;
        right: 200px;
        left: 0px;
    }
/* ********************main right end****************** */
/* ********************footer start****************** */
    
    .footer{
       display: flex;
       align-items: center;
    }
    .photo{
        position:relative;
    }
    .photo .svg3{
        position: relative;
        width: 232px;
        height: 203px;
    }
    .photo .svg4{
        position: absolute;
        width: 182px;
        height: 32px;
        top: 185px;
        left: 35px;
    }
    .photo,.s2-text>div{
        margin-right: 40px;
    }
    .s2-text>div{
        display: inline-block;
    }
    .s2-text>div>:first-child{
        font-size: 25px;
        font-weight: 800;
    }
/* ********************footer end****************** */

/* ********************Responsiv taplet 830px start****************** */
@media screen and (max-width: 830px){
/* ******************** section start****************** */
/* ********************main left start****************** */
.left-s2 :first-child{
    font-size: 32px;
    font-weight: 700;
}
.left-s2 .p1{
    font-size: 14px;
} 
/* ********************main left end****************** */
/* ********************main right start****************** */

.right-s2 .svg1 img{
    width: 181px;
    height: 182px;
}
.right-s2 .svg2 img{
    width: 211px;
    height: 34px;
    top: 165px;
}
/* ********************main right end****************** */
/* ********************footer start****************** */
.footer{
    display: flex;
    align-items: center;
}
.photo,.s2-text>div{
    margin-right: 30px;
}
.s2-text>div{
    display: inline-block;
}
.s2-text>div>:first-child{
    font-size: 15px;
    font-weight: 800;
}
.s2-text>div>:last-child{
    font-size: 11px;
    font-weight: 400;
}
}
/* ********************footer end****************** */
/* ******************** section end****************** */
/* ********************Responsiv taplet 830px end****************** */
/* ********************Responsiv phone 375px start****************** */
@media screen and (max-width: 375px){
    /* ********************section start****************** */
.main-s2{
    display: inline-block;}
/* ********************main left start****************** */
.left-s2 :first-child{
    font-size: 26px;
    font-weight: 700;
}
.left-s2 .p1{
    font-size: 12px;
} 

/* ********************main left end****************** */
/* ********************main right start****************** */

.right-s2 .svg1 img{
    width: 170px;
    height: 160px;
    
}
.right-s2 .svg2 img{
    width: 170px;
    height: 28px;
    top:150px;
}
/* ********************main right end****************** */
/* ********************footer start****************** */
.photo{
    display: none;
}
.s2-text{
    margin-top: 50px;
}
.s2-text>div{
    display: inline-block;
}
.s2-text>div>:first-child{
    font-size: 12px;
    font-weight: 800;
}
.s2-text>div>:last-child{
    font-size: 10px;
    font-weight: 400;
}
/* ********************footer end****************** */
/* ********************section end****************** */
}
/* ********************Responsiv phone 375px end****************** */